.dashboard-container {
  padding: 15px;
  .title {
    font-weight: 600;
  }
  .content {
    display: flex;
    .c-left {
      width: 50%;
      flex-wrap: wrap;
      border: 1px solid green;
      display: flex;
      .child {
        width: 50%;
        height: 150px;
        background-origin: 1px solid;
      }
    }
    .c-right {
      width: 50%;
      border: 1px solid green;
    }
  }
}
