.dashboard-container {
  padding: 15px;
  .title {
    font-weight: 600;
  }
  .content {
    display: flex;
    .c-left {
      width: 50%;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;

      .child {
        width: calc(50% - 10px);
        height: 150px;
        border: 1px #ccc solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .c-right {
      width: 50%;
      border: 1px solid green;
    }
  }
}
