.dashboard-container {
  padding: 15px;
  .title {
    font-weight: 600;
  }
  .content {
    display: flex;
    .c-left {
      width: 50%;
      border: 1px solid green;
      width: 50%;
      flex-wrap: wrap;
    }
    .c-right {
      width: 50%;
      border: 1px solid green;
    }
  }
}
